<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Familia | Welcome</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-min.css&pure/0.5.0/grids-responsive-min.css">

    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <script src="http://maps.google.com/maps/api/js?sensor=false"
            type="text/javascript"></script>
  </head>
  <style>
body{
  background-color: #82E5F1;
  background: url("/static/images/{{view_images}}");
  background-repeat:no-repeat;
  background-size: 100% 100%;
}
label {
  display: inline-block;
}
  </style>
  <body >



    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="row">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Familia</li>
            <li class="has-submenu">
              <a href="#">One</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
              </ul>
            </li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Top Bar -->



{% block content %}

  <center>

<div class="header" style="background-color:#07C7EA">
    <h2> <strong>Familia Maps </strong></h2>
</div>
  <!-- THE PART WHERE THE HTML PAGE ASKS FOR ACCESS TO YOUR CURRENT LOCATION



    <script>
    var x=document.getElementById("demo");
    window.onload = function getLocation()
      {
      if (navigator.geolocation)
        {
        navigator.geolocation.watchPosition(showPosition);
        navigator.geolocation.watchPosition(showPosition2);
        }
      else{x.innerHTML="Geolocation is not supported by this browser.";}
      }
    function showPosition(position)
      {
      document.getElementById("lat").value=position.coords.latitude
      }
      function showPosition2(position)
      {
      document.getElementById("lon").value=position.coords.longitude;
      //document.getElementById("loc_form").submit();
      }
    </script>-->
    <!-- Geolocation stuff
    <form id = "loc_form" action="results" method="POST">
    <input class = "form-control" id="lat" type="text" name="lat" style="width: 300px;">
    <label>  <input class = "form-control" id="lon" type="text" name = "lon" style="width: 300px;">
  </label>
    <input type="submit" name = "submit" value = "Current Location">
    </form>
    <BR><BR>
-->
<!-- THE INTO WHERE YOU TYPE YOUR ADRESS -->


    <form class="pure-form pure-form-aligned" action='results' method="POST">

          <fieldset>

            <div class="pure-control-group">
                <label for="origin">Enter Your Location</label>
                <input class="pure-input-2-3" id="origin" type="text" placeholder="Type origin here..." name="adress" style="width: 300px;">
            </div>
            <div class="pure-controls">
                <button type="submit" name="b" value="Search" class="pure-button pure-button-primary">Search</button>
            </div>

<!-- JAVASCRIPT TO AUTOCOMPLETE YOUR GOOGLE LOCATION
      input  <div class="pure-controls">
            <button type="submit" name="b" value="Search" class="pure-button pure-button-primary">Search</button>
        </div> 1 : takes address entered from search bar
      options: sets country restrictions to USA
-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script type="text/javascript">
      var input1 = document.getElementById('origin');
      var options = {componentRestrictions: {country: 'us'}};
      new google.maps.places.Autocomplete(input1, options);
    </script>


        </fieldset>


	  <!-- DISPLAY ADDRESS HERE
	    -->


	  {% if status == "show_info" %}

	  {% if askIfCorrect == True %}
	  <br>
	  WE CURRENTLLY HAVE YOUR ADDRESS AS:
	  <br><br>
	  {{view_address}}
	  <br><br>
	  IF THIS ADDRESS IS YOUR CORRECT ADDRESS: PROCCEED
	  <br>
	  IF NOT OUR GEOLOCATION SERVICE DOES NOT SEEM TO WORK FOR YOU,
	  <br>
	  PLEASE ENTER YOUR LOCATION MANUALLY
	  <br>


	  {% endif %}

	  <br>
	  You are at:
	  <br>
	  {{view_address}}
	  <br>
	  The weather is currently:
	  <br>
	  {{view_weather[0]}} |
	  {{view_weather[1]}} |
	  {{view_weather[2]}}
	  <!-- PUT THE VARIOUS STUFF HERE -->
<br>
<!--the map procurement mechanism-->

<iframe
   width="600"
   height="450"
   frameborder="0" style="border:0"
   src= {{get_map}} allowfullscreen>
</iframe>

<br>
<br>

<!-- the suggestions stuff-->
Near By:

     <div class="row">
       {% for v in venues[:2] %}
       <div class="small-5 columns" style="background-color:white">
        <strong> <a href="results/{{q[venues.index(v)]}}/{{clat}}/{{clon}}">{{q[venues.index(v)]}}</a>  </strong><br>
         {% for name in v[:4] %}
         {{name[0]}}
         <br>
       {% endfor %}

       </div>
            {% endfor %}
     </div>

<br>

          <div class="row">
            {% for v in venues[2:4] %}
            <div class="small-5 columns" style="background-color:white">
                <strong><a href="results/{{q[venues.index(v)]}}/{{clat}}/{{clon}}">{{q[venues.index(v)]}}</a>  </strong><br>
              {% for name in v[:4] %}
              {{name[0]}}
              <br>
            {% endfor %}

            </div>
                 {% endfor %}
          </div>

<br>

	  <div class="row">
            {% for v in venues[4:6] %}
            <div class="small-5 columns" style="background-color:white">
                <strong><a href="results/{{q[venues.index(v)]}}/{{clat}}/{{clon}}">{{q[venues.index(v)]}}</a>   </strong><br>
              {% for name in v[:4] %}
                {{name[0]}}
              <br>
            {% endfor %}

            </div>
                 {% endfor %}
          </div>

<br>
<br>

	  <div class="row">
            {% for v in venues[6:7] %}
            <div class="small-5 columns" style="background-color:white">
                <strong><a href="results/{{q[venues.index(v)]}}/{{clat}}/{{clon}}">{{q[venues.index(v)]}}</a>   </strong><br>
              {% for name in v[:4] %}
                {{name[0]}}
              <br>
            {% endfor %}

            </div>
                 {% endfor %}
          </div>

<br>





<div id="map" style="width: 500px; height: 400px;"></div>

<script type="text/javascript">
  var locations = {{coords|safe}};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: new google.maps.LatLng({{clat}}, {{clon}}),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var infowindow = new google.maps.InfoWindow();

  var marker, i;

  for (i = 0; i < locations.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent(locations[i][0]);
        infowindow.open(map, marker);
      }
    })(marker, i));
  }
</script>

<!--
	  <iframe
	     width="600"
	     height="450"
	     frameborder="0" style="border:0"
	     src= {{get_map}} allowfullscreen>
	  </iframe>
-->

	  {% elif status == "reenter" %}

	  <br>
	  YOU ENTERED SOMETHING WRONG
	  <br>
	  please enter again
	  <br>

	  {% endif %}

{% endblock %}
    <div class="row column">
      <hr>
      <ul class="menu">
        <li>Familia</li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li class="float-right">Copyright 2016</li>
      </ul>
    </div>



    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
