<!DOCTYPE html>
<html>

<head>
  <title> HOME </title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-min.css&pure/0.5.0/grids-responsive-min.css">
</head>

  <body>

    WELCOME TO THE SITE

  <!-- THE PART WHERE THE HTML PAGE ASKS FOR ACCESS TO YOUR CURRENT LOCATION

-->

    <script>
    var x=document.getElementById("demo");
    window.onload = function getLocation()
      {
      if (navigator.geolocation)
        {
        navigator.geolocation.watchPosition(showPosition);
        navigator.geolocation.watchPosition(showPosition2);
        }
      else{x.innerHTML="Geolocation is not supported by this browser.";}
      }
    function showPosition(position)
      {
      document.getElementById("lat").value=position.coords.latitude
      }
      function showPosition2(position)
      {
      document.getElementById("lon").value=position.coords.longitude;
      //document.getElementById("loc_form").submit();
      }
    </script>
    <form id = "loc_form" action="results" method="POST">
    <input class = "form-control" id="lat" type="text" name="lat" >
    <input class = "form-control" id="lon" type="text" name = "lon">
    <input type="submit" name = "submit" value = "Current Location">
    </form>
    <BR><BR>


<!-- THE INTO WHERE YOU TYPE YOUR ADRESS -->

    <form class="pure-form pure-form-aligned" action='results' method="POST">

          <fieldset>

            <div class="pure-control-group">
                <label for="origin">Enter Your Location</label>
                <input class="pure-input-2-3" id="origin" type="text" placeholder="Type origin here..." name="adress">
            </div>


<!-- JAVASCRIPT TO AUTOCOMPLETE YOUR GOOGLE LOCATION
      input 1 : takes address entered from search bar
      options: sets country restrictions to USA
-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script type="text/javascript">
      var input1 = document.getElementById('origin');
      var options = {componentRestrictions: {country: 'us'}};
      new google.maps.places.Autocomplete(input1, options);
    </script>

            <div class="pure-controls">
                <button type="submit" name="b" value="Search" class="pure-button pure-button-primary">Search</button>
            </div>

        </fieldset>


	  <!-- DISPLAY ADDRESS HERE
	    -->


	  {% if status == "show_info" %}
	  <br>
	  You are at:
	  <br>
	  {{address}}
	  <br>
	  <!-- PUT THE VARIOUS STUFF HERE -->

	  <!--the map procurement mechanism-->

	  <iframe
	     width="600"
	     height="450"
	     frameborder="0" style="border:0"
	     src= {{get_map}} allowfullscreen> <!-- get_map is str from app -->
	    <!-- if the API does not understand your input, it will give you a world wide map-->
	  </iframe>


	  {% elif status == "reenter" %}

	  <br>
	  YOU ENTERED SOMETHING WRONG
	  <br>
	  please enter again
	  <br>

	  {% endif %}


  </body>

</html>
